<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
  <ul id="songs">

  </ul>
</body>
<script>
////////
// YOUR CODE HERE:
////////
$.ajax({
        url: "/api/songs",
        type: 'GET',
        success: (data)=>{
          data.forEach((songs,index)=>{
        $("#songs").append("<li "+index+" = index>"+songs.artist.name+" - "+songs.title+ " "+
          "<a href="+songs.youtube_url+">"+"YouTube Videos</a>"+"</li>")
      })
      // console.log(data)
    }
  });

</script>
