<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
  <input id='artists-search-box' type="text">
  <button id='search-button'>Search</button>
  <ul id="songs">

  </ul>
</body>
<script>
////////
// YOUR CODE HERE:
////////


// console.log($searchTerm.val())

$('#search-button').click(()=>{
  let $searchTerm = $('#artists-search-box').val()
  console.log($searchTerm)
  $.ajax({
    url: "/api/artists/name/" + $searchTerm,
    success: ((data)=> {let artistId = data.id
    $.get( '/api/songs/id/' + artistId,
      success: ((data)=>{console.log(data)})
    )
  })
})

</script>
