<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
  <input id='artists-search-box' type="text">
  <button id='search-button'>Search</button>
  <ul id="songs">

  </ul>
</body>
<script>
  ////////
  // YOUR CODE HERE:
  ////////

  $('#search-button').click(() =>{

    let input = $('#artists-search-box').val();

    if(input){
      let $list = $('#songs');

      $.ajax({
        url: '/api/songs/artist/' + input,
        success: function(data) {
          $list.html('');

          data.forEach((song) =>{
            let artist = song.artist.name;
            let title = song.title;

            $list.append('<li>' + artist + ' - ' + title + '</li>');
          })
        }
      })
    }

  })

</script>
