<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
  <input id='youtube-search-box' type="text">
  <button id='search-button'>Search</button>
  <ul id="songs">

  </ul>
</body>
<script>
////////
// YOUR CODE HERE:
////////


$('#search-button').click(()=>{
  $('#songs').empty()
  // var addSongToDb =
  //     $.ajax({
  //               url:  '/api/youtube/addsongs',
  //               type: 'POST',
  //               success: (data)=>{
  //               console.log(data)
  //               }
  //             })
  var input = $('#youtube-search-box').val()
  var apiKey = 'AIzaSyC_8G9bFqpaWOBDwGxeWleAzPDrEygm5zM'
      $.ajax({  url:"https://www.googleapis.com/youtube/v3/search?part=snippet&q="+input+"&type=video&key="+apiKey,
                type: 'GET',
                success: (data) =>{
                  data.items.forEach((song,index)=>{
                    //appends li tags with songs
                    $('#songs').append('<li id ='+index+'>'+song.snippet.title+'</li>',
                    //appends buttons with video URL as id
                    $('<button id ='+song.id.videoId+'>+</button>').bind('click',function(event){
                      $.ajax({
                          url: '/api/youtube/addsongs',
                          type: 'POST',
                          data: {
                                artist: input,
                                youtube_url: song.id.videoId,
                                title: song.snippet.title
                                },
                          success: (data)=>{console.log(data)}
                        })
                      })
                    )
                  })}
              })
              $('#youtube-search-box').val('')
                  // console.log(data.items[0].snippet.title)}
  });
</script>
