<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
  <input id='youtube-search-box' type="text">
  <button id='search-button'>Search</button>
  <ul id="songs">

  </ul>
</body>
<script>
////////
// YOUR CODE HERE:
////////
$('#search-button').click(()=>{
  $('#songs').empty()
  var input = $('#youtube-search-box').val()
  var apiKey = ''
      $.ajax({  url:"https://www.googleapis.com/youtube/v3/search?part=snippet&q="+input+"&type=video&key="+apiKey,
                type: 'GET',
                success: (data) =>{
                  data.items.forEach((song,index)=>{
                    $('#songs').append('<li id ='+index+'>'+song.snippet.title+'</li>')
                  })
                }
            })
              $('#youtube-search-box').val('')
                  // console.log(data.items[0].snippet.title)}
  });
</script>
